version: 2.1

jobs:
  build-and-test:
    working_directory: ~/release
    docker:
      - image: circleci/node:12.18.0-browsers
        environment:
          TERM: xterm
    steps:
      - checkout
      - run:
          name: Checking environment
          command: |
            node --version
            npm --version
            yarn --version
      - run:
          name: Installing dependencies
          command: yarn install
      - run:
          name: Building the library
          command: yarn build
      - run:
          name: Running tests
          command: yarn test

workflows:
  build-and-test:
    jobs:
      - build-and-test
