name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        node: [18.14]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - uses: pnpm/action-setup@v2
        with:
          version: 7.12

      - name: Install dependencies
        run: pnpm install

      - name: Unit tests
        run: pnpm test:unit

      - name: Build
        run: pnpm build

      - name: Node.js tests
        run: pnpm test:node

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Browser tests
        run: pnpm test:browser
